<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<label>
			<input type="radio" v-model="value" value="one">One</label>
		</label>
		<label>
			<input type="radio" v-model="value" value="two">Two</label>
		</label>
		<label>
			<input type="radio" v-model="value" value="three">three</label>
		</label>
		<p>value: {{ value }}</p>
	</div>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				value: 'two'
			}
		});
	</script>
</body>

</html>